.card {
  position: relative;
  background-color: #2e2d3d;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  width: 454px;
  height: 281px;
  border-radius: 8px;
  overflow: hidden;
}

.card-img-wrapper {
  height: 281px;
  width: 183px;
  flex-shrink: 0;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-description {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 12px 20px 49px;
}

.card-header {
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
  padding-right: 20px;
}

.card-date {
  color: #afb2bf;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.card-genre {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button {
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 3px;
  background: #6c38cc;
  border: 1px solid #4d5064;
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.card-plot {
  margin: 0 0 5px 0;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #fafafa;
}

.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-rating {
  position: absolute;
  top: 12px;
  right: 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.card-rating-03 {
  border: 2px solid #e90000;
  color: #fafafa;
}

.card-rating-35 {
  border: 2px solid #e97e00;
  color: #fafafa;
}

.card-rating-57 {
  border: 2px solid #e9d100;
  color: #fafafa;
}

.card-rating-7 {
  border: 2px solid #66e900;
  color: #fafafa;
}

.ant-rate {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

@media (max-width: 768px) {
  .card {
    width: 554px;
  }
  .ant-rate {
    position: absolute;
    right: auto;
    bottom: 12px;
  }
}

@media (max-width: 515px) {
  .card {
    width: 388px;
    padding: 15px;
  }
  .ant-rate {
    position: absolute;
    right: 10px;
    bottom: 12px;
  }
  .card-img-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 120px;
  }
  .card-description {
    max-width: 100%;
    display: block;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }
  .card-title-wrapper {
    padding-left: 90px;
    margin-bottom: 15px;
  }
  .card-date {
    padding-left: 90px;
    margin-bottom: 15px;
  }
  .card-genre {
    padding-left: 90px;
    margin-bottom: 30px;
  }
}
